Flask==0.12.2
Flask-Cors==3.0.3
Flask-PyMongo==0.5.1
Flask-SQLAlchemy==2.3.2
numpy==1.13.3
numpydoc==0.7.0
pandas==0.20.3
pandocfilters==1.4.2
PyMySQL==0.8.0
SQLAlchemy==1.2.5
gunicorn==19.7.1
Jinja2==2.10