/* Students:
 * =========
 * Add styling to your d3 chart with this file. */
 body{
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 10%;
    margin-right: 10%
  }
  
  .axis-text-x {
    fill: #10325D;
    text-anchor: middle;
    font-family: 'Ropa Sans', sans-serif;
  }
    
  .axis-text-y {
    fill: #10325D;
    text-anchor: middle;
    font-family: 'Ropa Sans', sans-serif;
  }
  
  .active {
    font-weight: 900;
    fill: rgb(196, 50, 40);
    transition: fill 0.5s ease-out;
    text-anchor: middle;
    font-family: 'Ropa Sans', sans-serif;
  }
  
  .inactive {
    font-weight: lighter;
    fill: rgb(7, 23, 44);
    transition: fill 0.5s ease-out;
    text-anchor: middle;
    font-family: 'Ropa Sans', sans-serif;
  }
  
  .axis-text-main{
   text-anchor: middle;
   font-size: 0.75em;
   font-family: 'Ropa Sans', sans-serif;
  }
  
  .tooltip {
    position: absolute;
    text-align: center;
    font-family: 'Russo One', sans-serif;
  }

  .abbr {
    color: 'white';
    font-family: 'Russo One', sans-serif;
  }