<!DOCTYPE html>

<html lang="en-us">
    <head>
        <!--Site Name-->
        <title>Donors Choose</title>
        <meta charset="UTF-8">
        
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker|Shadows+Into+Light" rel="stylesheet">
        <!--CSS-->
        <link rel="stylesheet" href="../static/css/linearicons.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/nice-select.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
            <div class="spinner-wrapper">
                    <div class="spinner"></div>
                    </div>

    <!--start header-->
        <header class="default-header">
            <div class="container">
                <div class="header-wrap">
                    <div class="header-top d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a href="index.html"><img src="../static/images/logo.png" alt="logo" style="width:300px;"></a>
                        </div>
                        <div class="main-menubar d-flex align-items-center">
                            <nav class="hide">
                                    <a href="index.html">Home</a>
                                    <a href="aboutus.html">About Us</a>
                                    <a href="form.html">Get Your Project Funded</a>
                            </nav>
                            <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--end header-->

        <!-- start about us Area -->
        <section class="jumbotron text-center" id="home" style="background-image: url('../static/images/aboutusbg.jpg'); box-shadow: 0 0 17px black;">
                <div class="container">
                    <div class="flex-row">
                                <h1 style="font-size:50px; font-family: 'Shadows Into Light', cursive; color: #ef5f3c;text-shadow: 0 0 7px black;">Meet The Team...</h1>
                                <h1 style="font-size: 18px; font-family: 'Indie Flower', cursive; color: #ef5f3c;">Hover over our pictures to see a bit more about us...</h1>
                    </div>
                </div>
            </section>
        <!-- End about us Area -->

        <script src="../static/js/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script> <!--Bootstrap-->
        <script src="../static/js/jquery.nice-select.min.js"></script> <!--Dropdown for nav-bar-->
        <script src="../static/js/jquery.sticky.js"></script> <!--sticky nav-bar-->
        <script src="../static/js/parallax.min.js"></script> <!--Scroll effect-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="../static/js/script.js"></script>
        
        <!-- Loading Screen -->
                <script>
                    $(document).ready(function() {
                    //Preloader
                    $(window).on("load", function() {
                    preloaderFadeOutTime = 1500;
                    function hidePreloader() {
                    var preloader = $('.spinner-wrapper');
                    preloader.fadeOut(preloaderFadeOutTime);
                    }
                    hidePreloader();
                    });
                    });
        </script>
    </body>
 
    </html>