<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>D3 Project</title>
	<link rel="stylesheet" href="static/css/d3Style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<!--fonts-->
	<link href="https://fonts.googleapis.com/css?family=Ropa+Sans|Russo+One" rel="stylesheet">
</head>
<body>
  <h1>Exploring Statistical Relationships on the State Level</h1>
  <p class='body'>Click on each axis label to regenerate the scatterplot. Each Dot represents a state. Sometimes it takes awhile for the chart to initially load</p>
  <hr>
  <p class='body'>There aren't too many interesting relationships between the % of project approved and the three state demographics displayed, though Delaware
    does interestingly enough have a the highest % of projects approved while also having comparatively lower project costs. Wyoming stands out for having high project
    costs but relatively high rates of approval as well. DC has very high average project costs but lower than average project approval rates. When toggled to compare 
    average project costs and average word counts in essays we can see something of a positive correlation between increasing word counts and project costs. 
  </p>
  <a href="javascript:history.back()">
    <button class="primary-btn2 mt-20 text-uppercase ">
        Back to results..<span class="lnr lnr-arrow-right"></span>
        
    </button></a>
  <div id='graph' style="padding:10%"></div>
<script>

// D3 Scatterplot 

let svgWidth = 960;
let svgHeight = 600;

let margin = {
  top: 40,
  right: 40,
  bottom: 100,
  left: 100
};

let width = svgWidth - margin.left - margin.right;
let height = svgHeight - margin.top - margin.bottom;

// Create an SVG wrapper, append an SVG group that will hold our chartGroup, and shift the latter by left and top margins.
let svg = d3.select("#graph")
  .append("svg")
  .attr("width", svgWidth)
  .attr("height", svgHeight)
  .attr('padding-bottom', 1)

let chartGroup = svg.append("g")
  .attr("transform", `translate(${margin.left}, ${margin.top})`);


// Now that the chartGroup parameters are set up we move to actually plotting the data

d3.csv('static/data/census_data.csv', function(err, data){
    if (err) throw err;

    //log csv data
    console.log("raw data: ", data)

    //Parse Data as numbers
    data.forEach(function(data){
        data.approve = +data.approve;
        data.medianIncome = +data.medianIncome;
        data.projects = +data.projects;
        data.totalHouseholds = +data.totalHouseholds;
        data.total_essay_wc = +data.total_essay_wc;
        data.total_price = +data.total_price
        //data.states = string(data.states);
    });
    
  
    // Create Scale Functions
    let xScale = d3.scaleLinear().range([0,width]);
    let yScale = d3.scaleLinear().range([height, 0]);

    // set the domain of the axes
    xScale.domain([d3.min(data, d => d.approve)
                      - d3.deviation(data, d => d.approve) / 2,
                      d3.max(data, d => d.approve)]);
    yScale.domain([d3.min(data, d => d.approve)
                      - d3.deviation(data, d => d.approve) / 2,
                      d3.max(data, d => d.approve)]);
        
                      
    //  define axis functions
    let xAxis = d3.axisBottom(xScale);
    let yAxis = d3.axisLeft(yScale);
    //console.log("x axis: ", xAxis);
    //console.log("y axis: ", yAxis);
    
    // Append Axes to the chartGroup
    // ==============================
    // Add bottomAxis
    chartGroup.append("g")
    .attr("transform", `translate(0, ${height})`)
    .call(xAxis);
    
    // Add leftAxis to the left side of the display
    chartGroup.append("g")
    .call(yAxis);
    // hide the numbers on the axis for now
    chartGroup.selectAll("text").remove();
    console.log("ChartGroup: ", chartGroup)
    
    //  add state labels
    chartGroup.selectAll("text")
                    .data(data)
                    .enter()
                    .append('text')
                    .attr("x", d => xScale(d.medianIncome))
                    // adjust y down a bit for better visual
                    .attr("y", d => yScale(d.approve))
                    .attr("font-size", "12px")
                    .attr("text-anchor", "middle")
                    .attr("class","abbr")
                    .text(d => d.index)
  //  Create Circles
  // ==============================
let circlesGroup = chartGroup.selectAll('circle')
      .data(data)
      .enter()
      .append("circle")
      .attr("cx", d => xScale(d.medianIncome))
      .attr("cy", d => yScale(d.approve))
      .attr("r", "12")
      .attr("fill", "#FF8C00")
      .attr('opacity', ".7")
      


    

  // Initialize tool tip
  // ==============================
  let toolTip = d3.tip()
    //.attr("class", "tooltip")
    .offset([80, -60])
    .html(function(d){
    //console.log(d)
    return (`<div class=panel panel-primary>
    <div class="panel-heading tooltext">${d.index}</div>
       <div class="panel-body tooltext">${Math.round(d.approve * 100)}% approved</div>
          </div>`)
  });

// Create tooltip in the chartGroup
// ==============================
  console.log("chartGroup line 112:", chartGroup);
 chartGroup.call(toolTip);


  //  Create event listeners to display and hide the tooltip
  // ==============================
  circlesGroup.on("mouseover", function(d){
    toolTip.show(d)
  })
  .on("mouseout", function(d){
    toolTip.hide(d)
  });

  

// Create axes labels

// y labels
chartGroup.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 0 - margin.left + 40)
  .attr("x", 0 - (height / 1.5))
  .attr("dy", "1em")
  .attr("class", "y-axis-text")
  .classed("active", true)
  .attr("csv-column-name", "approve")  
  .text("% approved");

chartGroup.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 0 - margin.left + 20)
  .attr("x", 0 - (height / 1.5))
  .attr("dy", "1em")
  .attr("class", "y-axis-text")
  .classed("inactive", true)
  .attr("csv-column-name", "total_essay_wc")  
  .text("Avg. Essay Word Count");

chartGroup.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 0 - margin.left + 0)
  .attr("x", 0 - (height / 1.5))
  .attr("dy", "1em")
  .attr("class", "y-axis-text")
  .classed("inactive", true)
  .attr("csv-column-name", "projects")  
  .text("Avg. Number of Previous Projects");



  // x labels
chartGroup.append("text")
  .attr("transform", `translate(${width/2}, ${height + margin.top + 15})`)
  .attr("class", "x-axis-text")
  .attr("csv-column-name", "medianIncome")
  .classed("active", true)  
  .text("Median Income");

chartGroup.append("text")
  .attr("transform", `translate(${width/2}, ${height + margin.top + 35})`)
  .attr("class", "x-axis-text")
  .attr("csv-column-name", "totalHouseholds")
  .classed("inactive", true)
  .text("Total Households");

chartGroup.append("text")
  .attr("transform", `translate(${width/2}, ${height + margin.top + 55})`)
  .attr("class", "x-axis-text")
  .attr("csv-column-name", "total_price")   
  .classed("inactive", true)
  .text("Avg. Project Cost");



  // change the x axis's status from inactive to active when clicked and change all active to inactive
  function labelChangeX(clickedAxis) {
    d3.selectAll(".x-axis-text")
        .filter(".active")
        .classed("active", false)
        .classed("inactive", true);

    clickedAxis.classed("inactive", false).classed("active", true);
}

// change the y axis's status from inactive to active when clicked and change all active to inactive
function labelChangeY(clickedAxis) {
  d3.selectAll(".y-axis-text")
      .filter(".active")
      .classed("active", false)
      .classed("inactive", true);

  clickedAxis.classed("inactive", false).classed("active", true);
}
// on click x-axis
d3.selectAll(".x-axis-text").on('click', function(){

    let clickedSelection = d3.select(this);
    ClickedXaxis = clickedSelection.attr('csv-column-name')
    console.log("this has been clicked: ", clickedSelection)

    // get current y axis
    let CurrentYaxis = d3.selectAll(".y-axis-text").filter(".active").attr('csv-column-name')
    console.log("current y axis status",CurrentYaxis)


    if (clickedSelection.classed('inactive')){
        //console.log(data)
        
        //console.log('current x scale', xScale)
        xScale.domain([
                      d3.min(data, d => d[ClickedXaxis])
                      - d3.deviation(data, d => d[ClickedXaxis]) / 2,
                      d3.max(data, d => d[ClickedXaxis])
                      ]);
          
        //console.log("New X scale", xScale)
        
        //  define axis functions
        let xAxis = d3.axisBottom(xScale);
          
        // adjust x-axis
        svg.select(".x-axis")
            .transition()
            .duration(1500)
            .ease(d3.easeLinear)
            .call(xAxis)
        
            d3.selectAll("circle")
            .transition()
            .duration(1500)
            .ease(d3.easeLinear)
            .attr("cx", function (d) {
                console.log('New circle x corr',  d[ClickedXaxis])
                return xScale(d[ClickedXaxis]);
                //return d[ClickedXaxis];
            })
            
          
            // adjust abbreviations
            d3.selectAll(".abbr")
            .transition()
            .duration(1500)
            .ease(d3.easeLinear)
            .attr("x", function (d) {
                return xScale(d[ClickedXaxis]);
            })

            labelChangeX(clickedSelection);
    };


});


// on click y-axis
d3.selectAll(".y-axis-text").on('click', function(){

  
  let clickedSelection = d3.select(this);
    ClickedYaxis = clickedSelection.attr('csv-column-name')
    console.log("this has been clicked: ", clickedSelection)

    // get current x axis
    let CurrentXaxis = d3.selectAll(".x-axis-text").filter(".active").attr('csv-column-name')
    console.log("current x axis status",CurrentXaxis)


    if (clickedSelection.classed('inactive')){
        //console.log(data)
        
        //console.log('current x scale', xScale)
        yScale.domain([
                      d3.min(data, d => d[ClickedYaxis])
                      - d3.deviation(data, d => d[ClickedYaxis]) / 2,
                      d3.max(data, d => d[ClickedYaxis])
                      ]);
          
        //console.log("New X scale", xScale)
        
        //  define axis functions
        let yAxis = d3.axisLeft(yScale);
          
        // adjust x-axis
        svg.select(".y-axis")
            .transition()
            .duration(600)
            .ease(d3.easeLinear)
            .call(yAxis);
        
            d3.selectAll("circle")
            .transition()
            .duration(2000)
            .ease(d3.easeLinear)
            .attr("cy", function (d) {
                console.log('New circle x corr',  d[ClickedYaxis])
                return yScale(d[ClickedYaxis]);
               
            })
            
          
            // adjust abbreviations
            d3.selectAll(".abbr")
            .transition()
            .duration(2000)
            .ease(d3.easeLinear)
            .attr("y", function (d) {
                return yScale(d[ClickedYaxis]);
            })

            labelChangeY(clickedSelection);
    };
})




});




	</script>
</body>
</html>
