<!DOCTYPE html>

<html lang="en-us">
    <head>
        <!--Site Name-->
        <title>Donors Choose - Fund a Project</title>
        <meta charset="UTF-8">
        
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--CSS-->
        <link rel="stylesheet" href="../static/css/linearicons.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/nice-select.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
            <div class="spinner-wrapper">
                    <div class="spinner"></div>
                    </div>
    
    <!--start header-->
        <header class="default-header">
            <div class="container">
                <div class="header-wrap">
                    <div class="header-top d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a href="index.html"><img src="../static/images/logo.png" alt="logo" style="width:300px;"></a>
                        </div>
                        <div class="main-menubar d-flex align-items-center">
                            <nav class="hide">
                                    <a href="index.html">Home</a>
                                    <a href="aboutus.html">About Us</a>
                                    <a href="form.html">Get Your Project Funded</a>
                            </nav>
                            <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--end header-->

        <!-- start form Area -->
        <section class="banner-area relative" id="home">
                <div class="container">
                        <div class="row fullscreen align-items-center justify-content-center">
                            <div class="banner-content col-md-12">
                                <div class="form-style-5">
                                <form method=post enctype=multipart/form-data>
                                    <fieldset>
                                        <legend><span class="number">1</span> Candidate Info</legend>
                                            <input type="text" name="name" placeholder="Your Name...",value="{{request.form.name}}" >
                                            <input type="email" name="email" placeholder="Your Email...",value="{{request.form.email}}">
                                            <input type="text" name="school" placeholder="Your School Name...",value="{{request.form.school}}">
                                            <input type="text" name="city" placeholder="Your School's City...",value="{{request.form.city}}">
                                            <input type="text" name="state" placeholder="Your School's State...",value="{{request.form.state}}">
                                            <input type="text" name="topic" placeholder="How many times have you applied before...",value="{{request.form.state}}">                                            
                                            <textarea name="about_school" placeholder="About Yourself/School....",value="{{request.form.about_school}}"></textarea>
                                            <input type="text" name='price' id="currencyField" placeholder="Grant Amount Being Requested...">
                                            <label for="subject">Subject of Research/Classroom Project</label>
                                        <select id="subject" name="subject">
                                            <optgroup label="subjects">
                                                <option value="math">Math</option>
                                                <option value="english">English</option>
                                                <option value="science">Science</option>
                                                <option value="reading">Reading</option>
                                                <option value="art">Art</option>
                                                <option value="foreignlanguage">Foreign Language</option>
                                                <option value="other">Other</option>
                                            </optgroup>
                                        <label for="title">Your title</label>
                                            <select id="subject" name="title">
                                                <optgroup label="title">
                                                    <option value="Mr.">Mr.</option>
                                                    <option value="Ms.">Ms.</option>
                                                    <option value="Dr.">Dr.</option>
                                                    <option value="Mrs.">Mrs.</option>
                                                    <option value="Teacher">Teacher</option>
                                                </optgroup>
                                            <legend><span class="number"></span> Essays</legend>
                                    <label for="essay">"Describe your students: What makes your students special? Specific details about their background, your neighborhood, and your school are all helpful."</label>
  
                                        <textarea name="essay" placeholder="Paste or Write Your Essay Here..." style="margin-top:0px; margin-bottom: 30px; height:206px" value="{{request.form.essay}}"></textarea>
                                    
                                    <label for="essay2">"About your project: How will these materials make a difference in your students' learning and improve their school lives?"</label>
                                        
                                        <textarea name="essay2" placeholder="Paste or Write Your Essay Here..." style="margin-top:0px; margin-bottom: 30px; height:206px" value="{{request.form.essay}}"></textarea>
                                    </fieldset>
                                <input type="submit" value="See Your Results..." />
                                </form>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
        <!-- End form Area -->


        <script src="../static/js/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script> <!--Bootstrap-->
        <script src="../static/js/jquery.nice-select.min.js"></script> <!--Dropdown for nav-bar-->
        <script src="../static/js/jquery.sticky.js"></script> <!--sticky nav-bar-->
        <script src="../static/js/parallax.min.js"></script> <!--Scroll effect-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="../static/js/script.js"></script>
        
        <!-- Loading Screen -->
                <script>
                    $(document).ready(function() {
                    //Preloader
                    $(window).on("load", function() {
                    preloaderFadeOutTime = 1500;
                    function hidePreloader() {
                    var preloader = $('.spinner-wrapper');
                    preloader.fadeOut(preloaderFadeOutTime);
                    }
                    hidePreloader();
                    });
                    });
        </script>
    </body>
 
    </html>