<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Travel Weather Map</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Actor|Monoton" rel="stylesheet">
        

        <!-- still trying to fix the below date script -->
        <script>
                $(document).ready(function() {
                $("#datepicker").datepicker();
                document.querySelector("#today").valueAsDate = new Date();
              });
            </script>
    </head>

    <body>
        <!-- Navbar (on top) -->
        <div class="w3-top w3-hide-small">
        <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
            <a href="#" class="w3-bar-item w3-button">HOME</a>
        </div>
        </div>
        

        <!-- Header with image -->
        <header class="bgimg w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-bottomleft w3-padding">
            <span class="w3-tag w3-xlarge h">Don't Stress, Be Prepared.</span>
            <h1 class='h-quote'>The sky was cloudless and of a deep dark blue.</h1>
        </div>
        <div class="w3-display-middle w3-center">
            <span class="w3-text-black w3-hide-small h" style="font-size:100px">Prepare<br>FOR YOUR TRIP!</span>
            <div class="SearchBar">
                    <form>
                                    <input type="input" placeholder="Where Do You Want To Go?" required>
                    </form>
                </div>
            </div> 
        </div>

        <!-- First Graph Space -->
        <div class="w3-display-container w3-white" id = "first_graph_link" style="width:100%; height:100%;">
            <div class="w3-display-left" id="first_graph" style="width:60%; height:60%;"></div>
            <div class='w3-light-grey w3-display-right' style="width:40%; height: 60%">
                <div class='w3-border-red w3-bottombar'><h2 class='h'>Weather Over Time</h2></div>
                <p class='p'>
                    This time series shows the historical weather trends associated with the selected city and month.
                    the lower line represents the daily minimums, the middle the average, and uppermost the daily maximum. 
                    This chart was designed using plotly's time series functionality associated with line charts.  
                    Our data comes from a dataset that records the hourly weather statistics from 2012 to 2017. 
                    We aggregated the daily values into daily averages while preservering the minimal and max values for a given day. 
                    link to datasource: <a class='orange' href="https://www.kaggle.com/selfishgene/historical-hourly-weather-data">Kaggle.com</a>
                </p>
            </div>
        </div>

        <!-- Second Graph Space -->
        <div class="w3-display-container w3-white" id = "second_graph_link" style="width:100%; height:100%;">
            <div class="w3-display-left" id="second_graph" style="width:60%; height:60%;"></div>
            <div class='w3-light-grey w3-display-right' style="width:40%; height:60%;">
                <div class='w3-border-red w3-bottombar'><h2 class='h'>Airport Delays Scatter Chart</h2></div>
                <p class='p'>
                    We were also able to access data on <a class='orange' href='https://www.kaggle.com/usdot/flight-delays'>airport delays</a>. We indexed the data against the cities we have
                    and have displayed in this scatter chart the unique effects weather has on the frequency of flight delays <strong>per city and month of the year</strong> users
                    can use this information to anticipate how troublesome their flights could potentially be on say during a "snowstorm in Boston" vs. one in New York. 
                </p>
            </div>
        </div>

        <!-- Third Graph Space -->
        <div class="w3-display-container w3-white" id = "third_graph_link" style="width:100%; height:100%;">
            <div class="w3-display-left w3-white" id="third_graph" style="width:60%; height:60%;"></div>
            <div class="w3-light-grey w3-display-right" style="width:40%; height:60%;">
                <div class='w3-border-red w3-bottombar'><h2 class='h'>Qualitative Weather Donut</h2></div>            
                <p class='p'>
                    Included in our <a class='orange' href="https://www.kaggle.com/selfishgene/historical-hourly-weather-data">dataset</a> are qualitative 
                    descriptions of daily weather conditions for each city. The donut chart displays these values for the selected month. 
                    Coloring for each slice is dynamically generated so that like values e.g "light rain" or "heavy rain" have a similar color scheme 
                    yet differ in hue to distinguish them. 
                </p>
            </div>
        </div>
        </header>
        <body>
            <div href='graph.html'></div>
        </body>

        <!-- Picture Collage Space -->
        <div class='w3-border-red w3-bottombar' style="margin-bottom:22px;"><h2 class='h'>Images from Wikipedia of your Destination</h2></div>
        <div class="w3-display-container">
            
            <div id="collage" class='row' style="height:300px;"></div>      
                
        </div>

        <div class="w3-display-container" id = "aboutUs_link" style="width:100%; height:200px;">
            <div class="w3-display-bottommiddle" id="aboutUs" style="width:90%;">
                <div class='text-center' style="margin:auto; width:500px; padding-bottom:30px;">
                <div class='w3-border-red w3-bottombar'><h2 class='h'>About Us</h2></div>        
                <p class='p'>
                    This project was completed as a part of the <a class='orange' href="https://bootcamp.ce.uci.edu/data/">UCI Data Analytics Bootcamp</a>
                    by <a class='orange' href="https://github.com/coreyclip">Corey Clippinger </a>, <a class='orange' href="https://github.com/totopi/">Kevin McNalley</a>, <a class='orange' href="https://github.com/gazellebahramian">Gazelle Bahramianfard</a>,
                    and <a class='orange' href='https://github.com/chrisprabhu'>Chris Prabhu</a>. We used a MySQL database to store our weather and airport data, a Flask backend written in Python, and graphs and animations powered by javascript. 
                </p>
                </div>
            </div>
        </div>

        <!-- Contact -->
        <div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge" id="contact">
        <div class="w3-content">
            <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contact</h1>
            <p>Have any questions or concerns? Send us a message!</p>
            <p class="w3-xxlarge"><strong>Get Help</strong> with your travel, or just send us a message:</p>
            <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Travel Location" required name="location"></p>
            <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date" required name="date" value="Travel Dates"></p>
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Comments" required name="Message"></p>
            <p><button class="w3-button w3-black w3-block" type="submit">SEND MESSAGE</button></p>
            </form>
        </div>
        </div>

        <!-- Footer -->
        <footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
        <p>Thanks for Visiting!</p>
        </footer>

  
        <script>
        // Tabbed Menu
        function openWeather(evt, menuName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("menu");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(menuName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-red";
        }
        document.getElementById("myLink").click();
        </script>
        <script src="static\js\script.js"></script>
    </body>

</html>

