<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Cell Towers</title>

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="static\js\leaflet-heat.js"></script>

  </head>
  <body>

    <!-- map div -->
    <div id="map"></div>
    <style>

      body {
        padding: 0px;
        margin: 0px;
      }
    
      #map,
      body,
      html {
        height: 100%;
      }
    
    </style>
    <script type="text/javascript" src="static\js\script.js"></script>

  </body>
</html>